.shadow {
    -fx-background-image: url("../background/attackScene/shadow.png");
}/*
.enemy {
    -fx-background-image: url("../role/enemy/silentPath/9.gif");
}
.own {
    -fx-background-image: url("../role/own/tan1.gif");
}*/
.atkPane {
    -fx-background-image: url("../background/attackScene/fightingUI.png");
}  /*
.ownIcon {
    -fx-background-image: url("../role/own/tanIcon.png");
}*/
.bloodOwn {
    -fx-background-color: orange;
}
.bloodEnemy {
    -fx-background-color: orange;
}

.atk-icon {
    -fx-background-color: null;
}
.atk-icon Region {
    -fx-background-color: #efa62f;
    -fx-shape: "M838.4 121.6l-51.2 160-172.8 140.8-38.4 32 32 38.4L704 614.4l38.4 44.8 38.4-38.4 51.2-51.2 19.2 19.2-57.6 51.2-38.4 38.4 38.4 38.4 89.6 89.6 6.4 6.4-19.2 19.2-6.4-6.4-89.6-89.6-38.4-38.4-32 32-51.2 51.2-19.2-19.2 51.2-51.2 38.4-38.4-44.8-32-134.4-108.8-32-25.6-32 25.6L345.6 640l-44.8 38.4 38.4 38.4 51.2 51.2-19.2 19.2-51.2-57.6-38.4-38.4-38.4 38.4-89.6 89.6-6.4 6.4-19.2-19.2 6.4-6.4 89.6-89.6 38.4-38.4-32-32-51.2-57.6 19.2-19.2 51.2 51.2 38.4 38.4 32-38.4 96-115.2 32-44.8-38.4-32-172.8-140.8-51.2-160 160 51.2 128 153.6 38.4 51.2 38.4-51.2 128-153.6 160-51.2M921.6 38.4L652.8 128 512 294.4 377.6 134.4 102.4 38.4 192 307.2l179.2 147.2-89.6 128-83.2-89.6-96 89.6L192 672l-89.6 89.6-44.8-44.8-44.8 44.8L192 940.8l44.8-44.8-44.8-44.8 89.6-89.6 89.6 89.6 89.6-89.6-83.2-83.2L512 569.6l134.4 108.8-83.2 83.2 89.6 89.6 89.6-89.6 89.6 89.6-44.8 44.8 44.8 44.8 179.2-179.2-44.8-44.8-44.8 44.8-89.6-89.6 89.6-89.6L832 492.8 748.8 576l-96-115.2L832 313.6 921.6 38.4z";
}

.agi-icon {
    -fx-background-color: null;
}
.agi-icon Region {
    -fx-background-color: #efa62f;
    -fx-shape: "M599.04 497.92c-19.84 0-36.48 0-47.36-1.92-52.48-9.6-53.12-77.44-53.12-80l0-186.24-275.2 0 0 535.04 577.92 0L801.28 618.24C801.28 499.2 674.56 498.56 599.04 497.92zM769.28 732.16l-513.92 0L255.36 710.4l513.92 0L769.28 732.16zM769.28 678.4l-513.92 0 0-417.28 211.2 0 0 39.04-80.64 0 0 32 80.64 0 0 40.96-80.64 0 0 32 80.64 0 0 9.6c0 7.04 0.64 15.36 2.56 24.32l-83.2 0 0 32 92.8 0c11.52 25.6 32 49.28 67.2 55.68 13.44 2.56 31.36 2.56 53.12 2.56 93.44 0.64 170.24 7.68 170.24 88.32L769.28 678.4z";
}

.restart-btn {
    -fx-background-color: null;
}
.restart-btn Region {
    -fx-background-color: #efa62f;
    -fx-shape: "M510.408759 960.414823c-60.290131 0-118.797663-11.81714-173.898609-35.122939-53.199643-22.50148-100.970646-54.706973-141.983735-95.720062s-73.218582-88.784092-95.720062-141.983735c-23.305799-55.101969-35.122939-113.608477-35.122939-173.898609 0-60.290131 11.81714-118.797663 35.122939-173.898609 22.50148-53.200666 54.706973-100.970646 95.720062-141.983735 41.013089-41.014112 88.784092-73.218582 141.983735-95.721085 55.101969-23.305799 113.608477-35.122939 173.898609-35.122939s118.797663 11.81714 173.898609 35.122939c53.199643 22.502503 100.970646 54.706973 141.983735 95.721085 41.013089 41.013089 73.218582 88.784092 95.720062 141.983735 23.305799 55.100946 35.122939 113.608477 35.122939 173.898609 0 60.290131-11.81714 118.797663-35.122939 173.898609-22.50148 53.199643-54.706973 100.970646-95.720062 141.983735s-88.784092 73.218582-141.983735 95.720062C629.205399 948.597683 570.69889 960.414823 510.408759 960.414823zM510.408759 130.408095c-102.377692 0-198.627826 39.868009-271.0206 112.260783s-112.260783 168.642908-112.260783 271.0206 39.868009 198.627826 112.260783 271.0206 168.642908 112.260783 271.0206 112.260783 198.627826-39.868009 271.0206-112.260783c72.39175-72.392774 112.260783-168.642908 112.260783-271.0206s-39.868009-198.627826-112.260783-271.0206C709.036585 170.276105 612.786451 130.408095 510.408759 130.408095z M475.148697 382.586558 475.148697 309.159222 318.077336 415.863453 475.148697 523.366885 475.148697 451.656657 634.602316 451.656657 634.602316 638.225843 384.088772 638.225843 384.088772 702.872189 703.341886 702.872189 703.341886 382.586558Z";
}
.restart-btn:hover Region {
    -fx-background-color: yellow;
}

.return-btn {
    -fx-background-color: null;
}
.return-btn Region {
    -fx-background-color: #efa62f;
    -fx-shape: "M512 64C264.8 64 64 264.8 64 512s200.8 448 448 448 448-200.8 448-448S759.2 64 512 64z m0 832c-212 0-384-172-384-384s172-384 384-384 384 172 384 384-172 384-384 384z m158.4-610.4L444 512l226.4 226.4-44.8 45.6-272-272 272-272 44.8 45.6z";
}
.return-btn:hover Region {
    -fx-background-color: yellow;
}

.weak {
    -fx-background-color: null;
}
.weak Region {
    -fx-background-image: url("../icon/basicLogo/weakness.png");
}
.debar {
    -fx-background-color: null;
}
.debar Region {
    -fx-background-image: url("../icon/basicLogo/debarment.png");
}